:root {
  --red: hsl(354, 70%, 54%);
  --orange: hsl(27, 98%, 54%);
  --yellow: hsl(45, 100%, 51%);
  --green: hsl(152, 69%, 31%);
  --cyan: hsl(190, 90%, 50%);

  --primary: hsl(173, 100%, 29%);
  --secondary: hsl(173, 54%, 76%);
  --accent: hsl(173, 44%, 59%);
  --success: var(--green);
  --info: var(--cyan);
  --warning: var(--yellow);
  --danger: var(--red);

  --primary-rgb: 0, 148, 131;
  --secondary-rgb: 161, 227, 219;
  --accent-rgb: 104, 196, 186;

  --gray-100: hsl(210, 17%, 98%);
  --gray-200: hsl(210, 16%, 93%);
  --gray-300: hsl(210, 14%, 89%);
  --gray-400: hsl(210, 14%, 83%);
  --gray-500: hsl(210, 11%, 71%);
  --gray-600: hsl(208, 7%, 46%);
  --gray-700: hsl(210, 9%, 31%);
  --gray-800: hsl(210, 10%, 23%);
  --gray-900: hsl(210, 11%, 15%);

  --body-color: var(--gray-900);
  --body-bg: #fff;
  --poppins-font: "Poppins", sans-serif, Arial, Helvetica;
  --btn-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
  --primary-shadow: 0 4px 10px 0 rgba(var(--primary-rgb), 0.1),
    0 4px 20px 0 rgba(var(--primary-rgb), 0.2);
  --primary-shadow-sm: 0 4px 10px 0 rgba(var(--primary-rgb), 0.1);
}

/* ------- 
Global Styles
------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: var(--body-color);
  background: var(--body-bg);
  line-height: 25px;
  font-family: var(--poppins-font);
}

a {
  text-decoration: none;
  display: block;
  color: var(--accent);
  transition: 0.3s ease;
  cursor: pointer;
  background: transparent;
}

a:hover {
  color: var(--secondary);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  overflow: hidden;
}

.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-bg {
  background-color: rgba(var(--primary-rgb), 0.06);
}

.section-title {
  margin-bottom: 30px;
}

.section-title h2 {
  padding-bottom: 0.5rem;
  font-size: 28px;
  font-weight: 700;
  border-bottom: 2px solid var(--primary);
  display: inline-block;
  color: var(--gray-700);
}

.main {
  margin-top: 60px;
}

@media (max-width: 767px) {
  .main {
    margin-top: 50px;
  }
}

.btn {
  padding: 0.75rem 1.625rem;
  font-size: 0.875rem;
  border: none;
  line-height: 1;
  border-radius: 0.25rem;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
}

.btn:hover {
  box-shadow: var(--btn-shadow);
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.primary-bg {
  background-color: var(--primary);
  color: #fff;
}

.primary-bg:hover {
  color: #fff;
}

.white-bg {
  background-color: #ffffff;
  color: var(--gray-900);
}

/* ------- 
Header
------- */
header.header {
  line-height: 1em;
  background: var(--primary);
}

/* ------- 
Nav-Menu
------- */
.nav-menu {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .nav-menu {
    height: 50px;
  }
}

.nav-menu-toggler {
  background: transparent;
  display: block;
  height: 28px;
  width: 28px;
  position: relative;
  cursor: pointer;
}

.nav-menu-toggler > .bar {
  width: 28px;
  height: 3px;
  background: #fff;
  display: inline-block;
  border-radius: 0.25rem;
  position: absolute;
  transition: 0.3s ease;
}

.nav-menu-toggler > .first {
  top: 4px;
}

.nav-menu-toggler > .middle {
  top: 50%;
  transform: translateY(-50%);
}

.nav-menu-toggler > .last {
  bottom: 4px;
}

.nav-menu-toggler.active > .first {
  top: 13px;
  transform: rotate(45deg);
}
.nav-menu-toggler.active > .middle {
  opacity: 0;
}
.nav-menu-toggler.active > .last {
  bottom: 12px;
  transform: rotate(-45deg);
}

.nav-menu-logo > h3 {
  font-size: 22px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.nav-menu-list {
  display: flex;
  flex-wrap: nowrap;
}

.nav-menu-list-item {
  padding: 12px 20px;
}

.nav-menu-list .nav-a {
  font-size: 14px;
  color: #fff;
}

.nav-menu-list .nav-a:hover,
.nav-menu-list .nav-a.active {
  color: var(--secondary);
}

@media (max-width: 991px) {
  .nav-menu {
    position: relative;
  }

  .nav-menu-list {
    flex-direction: column;
    text-align: center;
    padding: 30px;
    position: fixed;
    top: 46px;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primary);
    opacity: 0;
    pointer-events: none;
  }

  .nav-menu-list.open {
    opacity: 1;
    pointer-events: initial;
  }

  .nav-menu-list .nav-a {
    font-size: 16px;
  }
}
/* End Nav-Menu  */

/* ------- 
Hero Section
------- */
.hero {
  padding-top: 80px;
  margin-bottom: 30px;
  background: var(--primary) url("../img/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

@media (max-width: 991px) {
  .hero {
    padding-top: 12px;
  }
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(var(--primary-rgb), 0.6);
}

.hero-text {
  padding-top: 4rem;
  color: #fff;
}

.hero-subtext {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.hero-title {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: 0.4px;
}

@media (max-width: 575px) {
  .hero-title {
    font-size: 38px;
  }
}

.hero-desc {
  font-size: 14px;
  line-height: 2;
  margin-bottom: 28px;
}

.hero-btn-wrapper {
  margin-bottom: 1rem;
}

.hero .btn {
  margin-right: 12px;
}

.hero-img {
  text-align: center;
}

/* ------- 
Services
------- */
.service-card {
  padding: 30px;
  margin-bottom: 40px;
  text-align: center;
  overflow: hidden;
  transition: 0.3s ease;
  box-shadow: var(--primary-shadow-sm);
}
.service-card:hover {
  box-shadow: var(--primary-shadow);
}
.service-card-icon {
  width: 75px;
  height: 75px;
  margin-bottom: 20px;
  font-size: 32px;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  background: rgba(var(--primary-rgb), 0.21);
}

.service-card-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  line-height: 1.4;
  text-transform: capitalize;
}

.service-card-desc {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 28px;
}

/* ------- 
Skills
------- */
.skill {
  width: 100%;
  display: flex;
  padding: 1.25rem;
  border-radius: 0.25rem;
  border-left: 3px solid var(--primary);
  background: rgba(var(--primary-rgb), 0.08);
  transition: 0.3s;
}

.skill:hover {
  transform: scale(1.01);
}

.skill:hover .skill-icon {
  color: rgba(var(--primary-rgb), 0.6);
}

.skill-icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--gray-700);
  transition: 0.3s;
}

.skill-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--gray-700);
  margin-bottom: 1rem;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
}

.skill-item {
  margin: 0 0.5rem 0.5rem 0;
  cursor: default;
}

.skill-item:hover {
  background: rgba(var(--primary-rgb), 0.8);
}

/* ------- 
Projects
------- */
.projects {
  padding-bottom: 20px;
}

.prj-card {
  box-shadow: var(--primary-shadow-sm);
  border-radius: 0.25rem;
  border: 1px solid rgba(var(--primary-rgb), 0.32);
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.prj-card:hover {
  box-shadow: var(--primary-shadow);
}

.prj-card-img {
  width: 100%;
  height: 160px;
  overflow: hidden;
  display: block;
}

.prj-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prj-card-body {
  padding: 1rem 1rem 0;
  color: var(--gray-700);
}

.prj-card-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.prj-card-text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0.5rem;
}

.prj-card-tags {
  display: flex;
  flex-wrap: wrap;
}

.prj-card-tags .tec-tag {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin: 0 0.25rem 0.25rem 0;
  background: var(--gray-300);
}

.prj-card-footer {
  padding: 0.5rem 1rem 1rem;
}

/* ------- 
Contact
------- */
.contact-info-wrapper {
  display: grid;
  grid-template-areas:
    "c-adrs c-adrs c-adrs c-adrs"
    "c-email c-email c-call c-call";
  gap: 30px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .contact-info-wrapper {
    grid-template-areas:
      "c-adrs c-adrs c-adrs c-adrs"
      "c-email c-email c-email c-email"
      "c-call c-call c-call c-call";
  }
}

.contact-card.contact-card-address {
  grid-area: c-adrs;
}

.contact-card.contact-card-email {
  grid-area: c-email;
}

.contact-card.contact-card-call {
  grid-area: c-call;
}

.contact-card {
  border-radius: 0.25rem;
  text-align: center;
  padding: 20px 0 30px 0;
  box-shadow: var(--primary-shadow);
}

.contact-card-icon {
  font-size: 32px;
  color: var(--primary);
  border: 2px dotted rgba(var(--primary-rgb), 0.4);
  border-radius: 50%;
  display: inline-block;
  padding: 12px;
}

.contact-card-title {
  font-size: 20px;
  margin: 10px 0;
  color: var(--gray-700);
}

.contact-card-text {
  font-size: 14px;
  margin-bottom: 0;
  padding: 0;
  line-height: 24px;
}

.contact-form {
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: var(--primary-shadow);
}

.contact-form .two-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 767px) {
  .contact-form .two-input {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.contact-form-input,
textarea.contact-form-input {
  width: 100%;
  border: 1px solid rgba(var(--primary-rgb), 0.4);
  outline: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1rem;
  padding: 10px 12px;
  line-height: 1.5;
  transition: border-color 0.3s;
}

.contact-form-input:focus,
textarea.contact-form-input:focus {
  border-width: 2px;
  border-color: var(--primary);
}

/* ------- 
Map
------- */
.map {
  margin-bottom: -8px;
}

/* ------- 
Footer
------- */
.footer {
  background: var(--secondary);
}

.footer-content {
  text-align: center;
}

.footer-title {
  font-size: 28px;
  font-weight: 700;
  color: var(--gray-800);
}

.footer-text {
  font-size: 0.875rem;
  width: 50%;
  margin: 1rem auto;
}

@media (max-width: 991px) {
  .footer-text {
    width: 100%;
  }
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials > .btn {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  display: grid;
  place-items: center;
  padding: 0;
  font-size: 20px;
  border-radius: 50%;
}

.footer-socials > .btn:hover {
  background: var(--accent);
}

.footer-copyright {
  font-size: 14px;
  padding: 15px 0;
  text-align: center;
  background: var(--accent);
  color: var(--gray-700);
}

.footer-copyright p {
  margin-bottom: 0;
  text-transform: capitalize;
}

.footer-copyright .coder {
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--gray-900);
  display: inline-block;
  text-decoration: underline;
}

/* Back to Top  */
.back-to-top {
  width: 40px;
  height: 40px;
  line-height: 1;
  display: grid;
  place-items: center;
  border-radius: 0.25rem;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background: var(--primary);
  color: #fff;
}

.back-to-top:hover {
  background: var(--accent);
}
